// Colours
$darkBackground: #252a38;
$darkerBackground: #151820;
$defaultForeground: #dcdcdc;
$primaryColour: #2985ff;
$fadedBackground: rgba(37, 42, 56, 0.5);

// Font styles
$defaultFont: "Segoe UI";

// Font sizes
$lightFontSize: 300;
$regularFontSize: 400;
$boldFontSize: 600;
