@import "./styles_sass/Variables";
@import "./styles_sass/Navbar";
@import "./styles_sass/UserDetail";

$gutters: 3rem;
$width: 100%;

@mixin posts() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.post-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  width: calc((100% - (2 * $gutters)) / 3);
  margin-right: 0;
  margin-bottom: $gutters;
}

.posts-container {
  @include posts();
}

.likes-posts-container {
  @include posts();
}

.dislikes-posts-container {
  @include posts();
}

// Variables -> $postColour: red;
// Nesting
// Mixin -> @mixin (function to apply styles) -> @mixin flexCenter(){}
// include a mixin -> @include flexCenter
// @import -> imports a sass file
// Separate files with partials -> _header.scss -> @import "./_header"
// @extend -> extends a mixin
